<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sign-in.css">
    <title>Sign In</title>

    <%- include('../partials/nav.ejs') %>
</head>

<body>
    <div class="sign-in-form"> 
        <h1>Sign In</h1>
        <form  class="user-input" action="/auth/sign-in" method="POST">
            
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
            
            <button type="submit">Sign In</button>
            
        </form>
    </div>
</body>
</html>