<nav class="navbar">
  <a href="/" class="nav-bar">Home</a>
  <% if (user) { %>
    <a href="/status" class="nav-bar">Posts</a>
    <a href="/add-status" class="nav-bar">Add Post</a>
    <a href="/auth/sign-out" class="nav-bar">Sign Out </a>
    <% } else { %>
      <a href="/auth/sign-up" class="nav-bar">Sign Up </a>
              <a href="/auth/sign-in" class="nav-bar">Sign In </a>
          
          <% } %>
  </nav>

