<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<%- include('./partials/nav') %>

  <body>
    <% if (user) { %>
      <p> <%= user.username %>!</p>
      <h1 class="home-title">Make A Post For The Day </h1>
      <% } else { %>
        <h1 class="home-title">Please Sign-In or Sign-Up To Make A Post </h1>
        <h1>Make A Post For The Day </h1>
            <% } %>
    
  </body>
</html>