<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status Catalogue</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<%- include('./partials/nav') %>

  <body>
    <% if (user) { %>
      <div class="homepage-main">
        <div class="homepage-username">
           <%= user.username %>!
          <% } else { %>
            <% } %>
          </div>
          <div class="homepage-content">
            <h1>We’re glad you’re here!<br><br> Explore, engage, and enjoy the content.<br><br> Don't forget to Sign In/Up </h1>
          </div>
        </div>
      </div>
  </body>

</html>