<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
    <body>
        <%- include('./partials/nav') %>
        <h1 class="status"> Add a new Status</h1>

        <form class="status-form" action="/status" method="POST">
            <label for="story">Status:</label>
            <input type="text" name="story" id="story">

            <button type="submit">Post</button>
        </form>

    </body>

</html>