<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<%- include('./partials/nav') %>
<% if (typeof message !== 'undefined') { %>
  <p><%= message %></p>
  <% } %>
  <body>
    <h1 class="post-title">Public Post's</h1>
    <ul>
      <% status.forEach(status=> { %>
        <h2 class="user-post">
            <%= status.story %>
        </h2>
        <% }) %>
    </ul>
  </body>

</html>