
body {
    background-color:#4c5966; 
}

.user-post {
    color: rgb(17, 170, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    min-width: 500px;
    max-width: 100%;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.edit-del-button {
    display: flex;
    gap: 30vw;
}

.edit-section {
    display: flex;
    justify-content: center;
}
.post-box {
    
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    width: 700px;
    max-width: 100%;
    gap: 20px;
}
.post-title {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #99b2cc; 
    height: 40px;
    font-size: 30px;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.375rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 30px;
    margin: auto;
}

.home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}